In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

from data_integration import *

In [2]:
twtc = load_twtc()

stats = load_stats_df(twtc)
stats = stats.drop(['fg_season_id', 'am_season_id'], axis=1)

df = pd.concat([twtc, stats], axis=1)

df = fill_missing_data(df, stats.columns)
df = df.replace('*.**', np.nan).dropna(subset=stats.columns)

print(df.shape)
print(f'Non-empty rows: {(df[stats.columns].sum(axis=1) != 0).sum()}')
df.head()

(9214, 65)
Non-empty rows: 7969

,name,key_mlbam,key_fangraphs,key_bbref,key_bbref_minors,key_uuid,mlb_played_first,birthdate,debut_age,age,...,3B,BB_pit,BB,AVG,Level,Age,GP,L,SB,HR
0,**Luke Heimlich,-1,18360,NaN,NaN,NaN,NaN,NaN,NaN,22.3,...,0.0,0.0,26.0,0.281787,AAA,—,0.0,0.0,1.0,12.0
1,**Noah Song,679977,sa917943,NaN,NaN,NaN,NaN,NaN,NaN,22.0,...,3.0,0.0,54.0,0.235849,AA,—,7.0,0.0,17.0,6.0
2,A.J. Alexy,669935,NaN,NaN,alexy-000aj-,c5bd95ff-593c-4875-b48e-012da0caca64,NaN,1998-04-21T00:00:00.000Z,NaN,19.7,...,0.0,3.0,0.0,0.000000,R,0,0.0,0.0,0.0,0.0
3,A.J. Alexy,669935,NaN,NaN,alexy-000aj-,c5bd95ff-593c-4875-b48e-012da0caca64,NaN,1998-04-21T00:00:00.000Z,NaN,18.7,...,0.0,3.0,0.0,0.000000,R,0,0.0,0.0,0.0,0.0
4,A.J. Cole,595918,11467,coleaj01,cole--001aj-,0596c185-ae62-436a-92b9-79b9a145d64d,2015.0,1992-01-05T00:00:00.000Z,23.0,22.0,...,0.0,15.0,0.0,0.000000,AAA,—,0.0,3.0,0.0,0.0

In [3]:
# Otani has MLB stats
df[(df[stats.columns].sum(axis=1) != 0) & (df.Level != 'MLB')].to_csv('joined_stats.csv', index=False)